<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>133930666159-u42g290tk54hbkjikev64rs49r9v2okh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.133930666159-u42g290tk54hbkjikev64rs49r9v2okh</string>
	<key>API_KEY</key>
	<string>AIzaSyBpH1ZPn4Mj4SRTqqnQ6WfhLMdiX1GtIys</string>
	<key>GCM_SENDER_ID</key>
	<string>133930666159</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.tangibleidea.tangibly</string>
	<key>PROJECT_ID</key>
	<string>tangibly-1f5ab</string>
	<key>STORAGE_BUCKET</key>
	<string>tangibly-1f5ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133930666159:ios:ec61b4d0b1801197f7ac5a</string>
</dict>
</plist>